.signup {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 60vh;
    background-color: #efefef;
    font-size: 20px;
    font-weight: 700;
}